<h2>&nbsp;</h2>
<%= form_for @city do |f|%>
  <legend>City Details</legend>
  <fieldset>
    <div class="field-set">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>
    <div class="actions">
      <%= f.submit class: "button"  %>
    </div>
  </fieldset>
<% end %>