<h2>&nbsp;</h2>

<%= form_for @users do |f| %>
  <legend>Account Details</legend>
  <fieldset>
    <div class="field-set">
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :image %>
      <%= f.text_field :image %>
      
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="actions">
      <%= f.submit class: "button" %>
    </div>
  </fieldset>
<% end %>

<%# <%= form_for @user, method: :delete do |f| %>
  <%# <%= f.submit "Delete!", class: "delete" %> 
<%# <% end %> 