<br />

<p class="cities-index">Where do you want to visit?</p>
</div>
<% if user_signed_in? %>
<%= link_to "Add new city", new_city_path %>
<% end %>

<div class="city-list">
    <% @cities.each do |city| %>
    <a href="/cities/<%=city.id%>">
    <div style="background-image: url(<%= city.image %>);" class="city-list-element">
       <h3><%= city.name %></h3>
       <p><%= city.location %></p>
    </div></a>
    <% end %>
</div>