<div style="background-image: url(<%= @city.image %>);" class="city-show-banner">
    <h1><%= @city.name %></h1>
    <div class="city-show-links">
        <% if user_signed_in? %>
        <%= link_to "edit", edit_city_path(@city.id) %>
        <% else %>
        <p> </p>
        <% end %>
        <p><%= @city.location %></p>
    </div>
</div>
<% if @city.posts.exists? %>
<h3><%= link_to "Add a Post", new_city_post_path(@city) %> for this city!</h3>
<%else%>
<h3>No one has said anything about this city. Would you like to <%= link_to "add a post", new_city_post_path(@city) %>?</h3>
<%end%>
<div class="post-list-container">
  <% @city.posts.each do |post| %>
    <div class ="post-item-container">
      <% user = User.find(post.user_id) %>
      <div class="post-header">
        <% if user.image %>
          <div class="post-item-user-circle"><%= image_tag user.image %></div>
          <%else%>
          <div class="post-item-white-circle"></div>
        <%end%>
        <div class="post-header-info">
          <p><%= user.email %></p>
          <%= link_to "#{post.title}", city_post_path( @city, post) %>
        </div>
      </div>
      <% if post.text.length > 1000 %>
        <p><%= post.text.truncate(997) %></p>
        <% else %>
        <p><%= post.text %></p>
      <% end %>
      <p>Created <%= time_ago_in_words(post.created_at)%> ago<p>
    </div>
  <% end %>

</div>


