<div style="background-image: url(<%= @city.image %>);" class="city-show-banner">
    <h1><%= @city.name %></h1>
    <div class="city-show-links">
        <%= link_to "edit", edit_city_path(@city.id) %>
        <p><%= @city.location %></p>
    </div>
</div>

Add a list of posts for this city here.

<ul>
  <% @city.posts.each do |post| %>
    <li>
      <%= link_to "#{post.title}", city_post_url(@city) %>
    </li>
  <% end %>
</ul>

<h3>Add a Post for this city! <%= link_to "(+)", new_city_post_url(@city) %></h3>


